@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-button {
  @apply px-3 py-1 bg-gradient-to-r from-primary to-third rounded-full text-white font-semibold;
}

/* .scrollbar-hidden::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  transition: 0.5s all ease-in-out;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #fd3be9;
  border-radius: 6px;
  transition: 0.5s;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
  transition: 0.5s;
} */

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for IE, Edge add Firefox */
body {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.container-page {
  @apply py-10 md:py-12 xl:py-16 px-8 sm:px-14 md:px-16 lg:px-20;
}
.sec-container {
  max-width: 1550px;
  max-height: 950px;
  margin-left: auto;
  margin-right: auto;
}

/*  HERO   */

.bg-hero {
  position: relative;
  /* background-image: url(../../public/assets/images/dicaprio.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  z-index: 0;
}

.bg-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(
      to top,
      rgba(4, 6, 17, 1) 0%,
      /* Dark at the top */ rgba(4, 6, 17, 0.3) 20%,
      /* Slightly lighter */ transparent 30% /* Fully transparent */
    ),
    linear-gradient(
      to bottom,
      rgba(4, 6, 17, 1) 0%,
      /* Dark at the bottom */ rgba(4, 6, 17, 0.3) 20%,
      /* Slightly lighter */ transparent 30% /* Fully transparent */
    );
}

.bg-alter-gradient {
  background: linear-gradient(
    to right,
    rgba(56, 100, 255, 0.8),
    rgba(202, 88, 255, 0.8)
  );
}

.text-gradient {
  background: linear-gradient(
    to right,
    rgba(56, 100, 255, 0.8),
    rgba(202, 88, 255, 0.8)
  );
  -webkit-background-clip: text;
  color: transparent;
}

:root {
  --channel-slide-width: 40vw;
  --channel-slide-width-reverse: -40vw;
}

/* Adjust the variable for larger screens */
@media (min-width: 768px) {
  :root {
    --channel-slide-width: 20vw;
    --channel-slide-width-reverse: -20vw;
  }
}
@media (min-width: 1024px) {
  :root {
    --channel-slide-width: 16vw;
    --channel-slide-width-reverse: -16vw;
  }
}

@media (min-width: 1280px) {
  :root {
    --channel-slide-width: 16vw;
    --channel-slide-width-reverse: -16vw;
  }
}

.slider-track {
  width: calc(var(--channel-slide-width) * 16);
  animation: channels;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @apply gap-6 md:gap-[48px] lg:gap-16 xl:gap-28 flex flex-nowrap  items-center;
}

.channel {
  width: var(--channel-slide-width);
  height: auto;
}

.channel-container {
  @apply relative h-auto;
}

@keyframes channels {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--channel-slide-width-reverse) * 8));
  }
}

/* SECTION 2 */

.list-slide-item {
  @apply w-4/5 sm:w-[66%] md:w-1/4 lg:max-w-[320px] xl:max-h-[600px] rounded-lg h-[16vh] sm:h-[18vh] md:h-[85%] lg:h-3/4 xl:h-full relative overflow-hidden;
}

.slide-off {
  @apply -translate-x-[100vh] md:translate-x-0 md:translate-y-[100vh];
}

.slide-off-alt {
  @apply translate-x-[100vh] md:translate-x-0 md:translate-y-[100vh];
}

/* TRENDING */

:root {
  --slide-width: 25vw;
  --slide-width-reverse: -25vw;
}

/* Adjust the variable for larger screens */
@media (min-width: 768px) {
  :root {
    --slide-width: 16vw;
    --slide-width-reverse: -16vw;
  }
}
@media (min-width: 1024px) {
  :root {
    --slide-width: 15vw;
    --slide-width-reverse: -15vw;
  }
}

.slide-track {
  @apply relative flex gap-3 items-center;
  width: calc(var(--slide-width) * 16);
  animation: moviesSlide;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.slide-track-reverse {
  @apply relative flex gap-3 items-center;
  width: calc(var(--slide-width) * 16);
  animation: moviesSlideReverse;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.slide {
  @apply relative;
}

@keyframes moviesSlide {
  from {
    transform: translateX(var(--slide-width-reverse));
  }
  to {
    transform: translateX(calc(var(--slide-width-reverse) * 9));
  }
}

@keyframes moviesSlideReverse {
  from {
    transform: translateX(calc(var(--slide-width-reverse) * 9));
  }
  to {
    transform: translateX(calc(var(--slide-width-reverse)));
  }
}

.slide-item {
  @apply w-[25vw] md:w-[16vw] lg:w-[15vw] h-auto min-h-[32vw] md:min-h-[23vw] bg-cover bg-center rounded-lg;
}

.slide-image {
  @apply w-full h-max rounded-lg;
}
